@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

body {
    color: #070707;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background: url('Ilustrasi_Presiden_Soekarno_menggunakan_hak_pilihnya_dalam_Pemilu_1955-2023_09_05-15_20_30_11b80cee440f525ab1d971ba3b754ca7.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: rgb(0, 94, 245);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}


.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 2;
}

.home-content h3 {
    font-size: 30px;
    font-weight: 700;
    line-height:2;
    color: #000000;
}

.home-content p {
    font-size: 13px;
    margin: 20px, 0 40px;
    line-height: 1.;
}
